body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif, sans-serif
}
.header{
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 60px;
}
.box{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
}
nav{
    float: right;
}
ul{
    list-style: none;
}
li {
    color: white;
    display: inline;
    margin-left: 25px;
    font-size: larger;
  }