body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.header{
    padding-top: 20px;
    background: #161b22;
    width: 100%;
    height: 50px;
}
.box{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
nav{
    float: right;
    
}
ul{
    list-style: none;
}
li {
    color: white;
    display: inline;
    margin-left: 25px;
    font-size: medium;
  }



  /* Apresentação */
.line{
    background-color: orangered;
    width: 100%;
    height: 3px;
}
.apresentacao{
    background-image: url('team.png');
    background-size: cover;  
    width: 100%;
    height: 460px;
}
.box_apresentacao{
    padding-top: 11%;
}

.txt_apresentacao{
    color: orangered;
    font-size: 45px; 
    text-align: center; 
}
.apresentacao span{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    
}

/* Atualizações */

.bar_att{
    background-color: #161b22 ;
    width: 100%;
    height: 75px;
}
.box_att{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding-top: 1.5%;
}
.txt_att{   
    font-size: 25px;
    color: white;
}
.box_att input{
    float: right;
    height: 20px;
    width: 150px;
}
.btn_att{
    background-color: orangered;
    margin-left: 25px;;
    float: right;
    height: 30px;
    width: 70px;
}


/* Informações */
.infos{
    width: 100%;
    height: 270px;
    padding-top: 7%;
}

.box_infos{
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    
}

.box_infos img{
    width: 131px;
    height: 131px;
    margin-left: 30px;
}

.missao{
    float: left;
    text-align: center;
}
.valores{
    float: left;
    margin-left: 250px;
    text-align: center;
}
.visao{
    float: right;
    text-align: center;
}

/* RODAPÈ */
.rodapé{
    background-color: rgb(255, 105, 0);
    color: white;
    width: 100%;
    height: 80px;
    padding-top: 30px;
}

.box_rodapé{
    padding-top: 20px;
    margin: 0 auto;
    width: 700px;
    text-align: center;
}
.box_rodapé span{
    font-size: medium;
}


